form{
    background-color: aqua;
    width: 40%;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 12px 12px 12px black;
}
legend{
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 12px 12px deeppink;
    color: darkred;
}

input[type=text]input[type=email]input[type=password]
input[type=number]input[type=tel]{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    text-shadow: 12px 12px 12px tomato;


}
button{
    background-color: aliceblue;
    color: black;
    width: 150px;
    height: 40px;
    border-radius: 10px;




}